<div id="user-data">
  <%= form_for @user do |u| %>
    Email: <%= u.text_field :email %><br />
    Street Address: <%= u.text_field :street %><br />
    City: <%= u.text_field :city %><br />
    State: <%= u.text_field :state %><br />
    Country: <%= u.text_field :country %><br />
    <%= u.submit :value => "Start Planning" %>
  <% end %>
</div>
