<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <h1><%= link_to "GreenHousery", '/', id: "logo" %></h1>
      <nav>
        <ul class="nav pull-right">
          <% if current_user %>
            <li><%= link_to 'Dashboard', user_path(current_user) %></li>
            <li><%= link_to 'Logout', logout_path %></li>
          <% else %>
            <li> <%= link_to 'Sign Up', new_user_path %></li>
            <li> <%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
