<h1>Project Arrays</h1>
<% @project_arrays.each do |project_array| %>
    <h3><%= best_in_place project_array, :name %></h3>
    Square Footage: <%= project_array.sqft %> square feet<br />
    
    Width: <%= best_in_place project_array, :width %> feet<br />
    Length: <%= best_in_place project_array, :length %> feet<br />
    <p>
      <% if project_array.solar_module %>
        <b>Module Type:</b> <%= project_array.solar_module.display %>
        Download:
        <%= link_to "Ruby Plugin", project_arrays_path(id: project_array, format:
          "rb") %>
      <% else %>
        <%= form_for project_array do |f| %>
          <label for="project_array_solar_module_id">
            Solar Module
          </label><br />
          <%= f.collection_select :solar_module_id,
          SolarModule.order(:brand), :id, :display, :prompt => "Select a Module"
          %>
          <%= f.submit %>
        <% end %>
        Or Create One!
        <%= form_for project_array, as: :post, url:
      update_module_path, method: :post do |f| %>
          or create one:
          <%= f.hidden_field :id, :value => project_array.id %>
          <%= f.text_field :new_solar_module_brand %>
          <%= f.text_field :new_solar_module_model %>
          <%= f.number_field :new_solar_module_length, :step => 'any' %>
          <%= f.number_field :new_solar_module_width, :step => 'any' %>
          <%= f.number_field :new_solar_module_height, :step => 'any' %>
          <%= f.number_field :new_solar_module_nominal_wattage %>
          <%= f.submit %>
        <% end %>
      <% end %>
    <br />
    KW Goal: <br />
    Predicted KW: <br />
  <% end %>
