<div id="project-header">
  <h1> <%= best_in_place @project, :name %> </h1>
</div>

<div id="project-sidebar">
  <p>
    <b>Latitude:</b> 
    <%= @project.latitude %><br />
    <b>Longitude:</b>
    <%= @project.longitude %>
  </p>
  <p>
   <b>Address:</b>
   <%= best_in_place @project, :street %> |
   <%= best_in_place @project, :city %> |
   <%= best_in_place @project, :state %> |
   <%= best_in_place @project, :country %>
  </p>

  <div>
    <h4><b>Nearest Weather Station</b></h4>
    <b><%= @project.station_city %>, <%= @project.station_state %></b><br />
    <b>Distance from project:</b> <%= @project.distance_from_station %> meters<br />
    <b>Station Elevation:</b> <%= @project.station_elevation %> meters<br />
    <b>Station Timezone:</b> (relative to GMT): <%= @project.station_timezone %>
 </div>
</div>

 <%= render "maps/second_map" %>

<div id='project-array-data'>
  <h2>Add Array Details</h2>
  <% @project_arrays.each do |project_array| %>
    <%= best_in_place project_array, :name %>
  <% end %>
</div>

<div>
  Double Click when you have completed your outline of the roof or ground area
</div>
