<div class="project-planning-block">
  <h1> <%= best_in_place @project, :name %> </h1>
  <h2><b>Current Time on Site:</b>
    <em><%= Time.now.in_time_zone(@project.station_timezone).strftime("%B %d at %I:%M %p") %></em></h2>
   <b>Address:</b>
   <%= best_in_place @project, :street %> |
   <%= best_in_place @project, :city %> |
   <%= best_in_place @project, :state %> |
   <%= best_in_place @project, :country %> <br />
    <b>Latitude:</b> 
    <%= @project.latitude %>
    <b>Longitude:</b>
    <%= @project.longitude %><br />
</div>

<div id='project-array-data'>
  <%= render 'project_array' %>
</div>
<hr>
<div>
    <h2><b>Nearest Weather Station</b></h2>
    <b><%= @project.station_city %>, <%= @project.station_state %></b><br />
    <b>Distance from project:</b> <%= @project.distance_from_station %> meters<br />
    <b>Station Elevation:</b> <%= @project.station_elevation %> meters<br />
  <b>Station Timezone:</b> (relative to GMT): <%= @project.station_timezone %>
 </div>
<hr>

 <%= render "maps/map" %>
